


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Application Form</title>

<link rel="stylesheet" href="static/style/style.css"/>

</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

    </style>

</head>
<body>

<form action="home" method="POST" style="border: 3px solid #f1f1f1;">
    {% csrf_token %}
    <div class="wrapper row1">
    Whether you need to restock office supplies or lab supplies, Jotform will supply you with the tools you need to organize orders more efficiently. Our online Supply Order Forms can process item requests, delivery information, and payments simultaneously. Using our drag-and-drop Form Builder, you can easily customize any of our Supply Order Form Templates to meet your needs. Feel free to add more specific form fields, rearrange the template layout, change fonts and colors, and even upload your logo. If you’d like to accept payments online, integrate your supply order form with a payment gateway — Jotform offers more than 30 trusted providers to choose from. When you’re done customizing, simply publish your Supply Order Form on your company website.
    </div>
    <div class="text_center,wrapper row1">
<img src="static/images/blog_6.jpg" alt="" /><br>
    <button class="btn btn-primary" type="submit" style="text-align: center" >Application Form  </button>

    </div>

</form>
</body>
</html>